@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 33% 96%;
    --foreground: 230 79% 2%;
    --card: 30 32% 87%;
    --card-foreground: 230 79% 2%;
    --popover: 30 32% 87%;
    --popover-foreground: 230 79% 2%;
    --primary: 37 29% 43%;
    --primary-foreground: 60 100% 100%;
    --secondary: 30 32% 87%;
    --secondary-foreground: 230 79% 2%;
    --muted: 30 20% 90%;
    --muted-foreground: 37 29% 35%;
    --accent: 37 29% 43%;
    --accent-foreground: 60 100% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 100% 100%;
    --border: 30 20% 85%;
    --input: 30 20% 85%;
    --ring: 37 29% 43%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
